<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
</p>
<p>Mais alguma dúvida? Estamos a disposição através do App <strong>Gympoint</strong>!</p>
